.title {
    font-size: 2rem;
    color: #4a4a4a;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 3px solid #007acc;
    display: inline-block;
    padding-bottom: 5px;
}


.book-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-item {
    display: flex;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.book-item:hover {
    transform: scale(1.02);
}

.book-image {
    width: 120px;
    height: auto;
    border-radius: 4px;
    margin-right: 20px;
    object-fit: cover;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.book-title {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    color: #333;
}

.book-author,
.book-year,
.book-genre,
.book-publisher,
.book-description {
    margin: 4px 0;
    color: #555;
}


.addbutton {
    background-color: #007acc !important;
    color: #fff !important;
    border: none !important;
    border-radius: 4px !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    margin: auto !important;
    transition: background-color 0.3s ease !important;
}
